*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
}
header{
    background-image: url(../photos/hero-bg.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
   
}
.nav-font{
font-size: 30px;
font-weight: 600;
    
}

.z-99{


    z-index: 999;
}
.nav-item{

    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px;
   

}

.nav-item a {
    transition: all 1s;


}
.nav-item a:hover{
text-decoration: underline;
transition: all 1s;
}

.rgba{

    background-color: rgba(0,0,0,0.5);
}
.white{

    color: white;
}
.bg-white{

background-color: white;

}
.caption h1{
    font-size: 65px;
   

}
.caption h3{
    font-size: 40px;
   
}

.caption h3::after{
    content: '';
    animation-name: typing;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


@keyframes typing {

    0%{content: "|";}
    1%{content: "P|";}
    3%{content: "Ph|";}
    4%{content: "Pho|";}
    5%{content: "Phot|";}
    6%{content:"Photo|";}
    7%{content:"Photog|";}
    8%{content: "Photogr|";}
    9%{content: "Photogra|";}
    10%{content: "Photograp|";}
    12%{content: "Photograph|";}
    14%{content: "Photographe|";}
    16%{content: "Photographer|";}
    17%{content: "Photographer";}
    18%{content: "Photographer|";}
    19%{content: "Photographer";}
    20%{content: "Photographer|";}
    21%{content: "Photographer";}
    22%{content: "Photographe|";}
    23%{content: "Photograph|";}
    21%{content: "Photograp|";}
    22%{content: "Photogra|";}
    23%{content: "Photogr|";}
    24%{content: "Photog|";}
    25%{content: "Photo|";}
    26%{content: "Phot|";}
    27%{content: "Pho|";}
    28%{content: "Ph|";}
    29%{content: "P|";}
    30%{content: "|";}
    31%{content: "D|";}
    32%{content: "De|";}
    33%{content: "Des|";}
    34%{content: "Desig|";}
    35%{content: "Desig|";}
    36%{content: "Design|";}
    37%{content: "Designe|";}
    39%{content: "Designer|";}
    40%{content: "Designer";}
    41%{content: "Designer|";}
    42%{content: "Designer";}
    43%{content: "Designer|";}
    44%{content: "Designer";}
    45%{content: "Designe|";}
    46%{content: "Design|";}
    47%{content: "Desig|";}
    48%{content: "Desi|";}
    49%{content: "Des|";}    
    50%{content: "De|";}
    51%{content: "Dev|";}
    52%{content: "Deve|";}
    53%{content: "Devel|";}
    54%{content: "Develo|";}
    55%{content: "Develop|";}
    56%{content: "Develope|";}
    57%{content: "Developer|";}
    59%{content: "Developer";}
    60%{content: "Developer|";}
    61%{content: "Developer";}
    62%{content: "Developer|";}
    63%{content: "Developer";}
    64%{content: "Develope|";}
    65%{content: "Develop|";}
    66%{content: "Develo|";}
    67%{content: "Devel|";}
    68%{content: "Deve|";}
    69%{content: "Dev|";}
    70%{content: "De|";}
    71%{content: "D|";}
    72%{content: "|";}
    73%{content: "F|";}
    74%{content: "Fr|";}
    75%{content: "Fre|";}
    76%{content: "Free|";}
    77%{content: "Freel|";}
    78%{content: "Freela|";}    
    79%{content: "Freelan|";}
    80%{content: "Freelanc|";}
    81%{content: "Freelance|";}
    83%{content: "Freelancer|";}
    84%{content: "Freelancer";}
    85%{content: "Freelancer|";}
    86%{content: "Freelancer";}
    87%{content: "Freelancer|";}
    88%{content: "Freelancer";}
    89%{content: "Freelance|";}
    90%{content: "Freelanc|";}
    91%{content: "Freelan|";}
    92%{content: "Freela|";}
    93%{content: "Freel|";}
    94%{content: "Free|";}
    95%{content: "Fre|";}
    96%{content: "Fr|";}
    97%{content: "f|";}
    98%{content: "|";}
    99%{content: ".";}
    100%{content: "..";}


    
    

    

}

/*****************ABOUT*******************/

.container-about{


background-color: #ffffff ;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);


}

.about-img img{

border-radius: 6px ;

 }

 .about-data ul{
list-style-type: none;

padding: 5px 0;

 }


 .about-data ul li{

padding: 7px 0;

 }
 .about-data ul li span{
    font-weight: bolder;
 }

 .skill{

    padding: 10px 0;
 }
.skill p{
    margin-bottom: 0.5rem;
}


.skills .standard{

height: 10px;
width: 100%;
background-color: #CDE1F8;
position: relative;



}

.skills .progres{
 height: 10px;
background-color: #0078FF;
position: absolute;
top: 0;


}

.w-85
{
    width: 85%;
}

.w-90{
    width: 90%;
}
.about-info .about-title{

position: relative;

}

.about-info .about-title h2{

font-size: 30px;

}
.about-info .hr-about
{
height: 4px;
width: 18%;
background-color: #0078FF;
position: absolute;
top: 90%;
left: 0;


}
.about-info p{

font-size: 20px;
font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue';
color: rgba(0, 0, 0, 0.727);
font-weight: lighter;
padding-right: 50px;
padding-top: 15px;

}

/* ****************SERVICES*************** */



 .title{
    position: relative;
}
.title .hr{

height: 5px;
width: 50px;
background-color: #0078FF;
position: absolute;
top:80%;
left: 50%;

}
 .title h2{


    font-size: 50px;
    font-weight: bolder;
}
#services .title p{

color: rgba(0, 0, 0, 0.679);


}
#services .service {

    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
    margin: 10px;
    padding: 10px;

}
                    
 #services .service:hover i{

    color: white;
    border: 10px solid #CDE1F8;
    border-radius: 50%;
    background-color: #0078ff

 }

#services .service i{

    font-size: 40px;
    border: 10px solid #0078FF;
    border-radius: 50%;
    padding: 30px;
    margin-top:15px;
transition: all 0.5s;


}

/************************* NUMBERS ***************************/

#results{

    background-image: url(../photos/counters-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 50px 0;
    color: white;
   

}

 .blue-ray{

    height: 100%;
    background-color: #0558b7b5;
}
#results i {

    font-size: 30px;
    border: 10px solid #CDE1F8;
    border-radius: 50%;
    padding: 30px;
    margin-top:15px;
    transition: all 0.5s;
}

#results .number{

    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    

}

#results .number h3 {

padding: 10px;


}

/* ****************PORTFOLIO**************** */


#portfolio .product i{

color: #0078FF;
font-size: 27px;
border: 3px solid #0078FF ;
padding: 2.5px 5px;
border-radius: 50%;
font-weight: 600;

}

#portfolio .product{
box-shadow: 0px 6px 10px -10px rgba(0, 0, 0, 0.511);
margin: 20px 0;


}
#portfolio .product p{

font-size: 14px;
color: rgba(0, 0, 0, 0.578);

}
#portfolio .product p span{

color: #0078FF;


}


#portfolio .product p span a{


    text-decoration: none;
}
#portfolio .product img{

    transition: all 1s;
   

}
#portfolio .product .product-img{

overflow: hidden;

}
#portfolio .product:hover img{

    transform: scale(1.3);
   


}

/* ***************SLIDE-SHOW************** */



#slide-show{

    background-image: url(../photos/overlay-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 50px 0;
    color: white;
    height: 100vh;

}

#slide-show .carousel-data {

     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    margin: 0 auto;
    font-weight: lighter;
   
    
}
#slide-show .carousel-data h3{
padding: 10px 0;
    
}
#slide-show .carousel-data p{
font-size: 20px;
padding:  10px;


}
#slide-show .carousel-item img{

border-radius: 50%;

}


.carousel-indicators button{

    width: 13px !important;
    height: 13px !important;
    border-radius:50% ;
  
}

.carousel-indicators{

position: absolute;

bottom: 10%;
}

/* ***************BLOG SECTION**************** */

#blog .blogaia .blogaia-img{

position: relative;


}

#blog .blogaia{


  border: rgba(128, 128, 128, 0.338) 1px solid; 
}

#blog .blogaia .blog-title{
background-color: #0078FF;
width: 100px;
padding: 7px 13px;
border-radius: 4px;
position: absolute;
bottom: -10;
left: 50%;
}

#blog .blogaia .blog-title p{

font-size: 70%;
color: white;
text-align: center;
font-weight: 600;


}
#blog .blogaia .blogaia-info{

padding: 20px 15px ;


}

.timer i{

color:rgba(0, 0, 0, 0.549) ;

}
.timer {

border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
    border:rgba(128, 128, 128, 0.338) 1px solid;
  
}


.blogaia-info h5 a:hover{

color: #0078FF;

}
.blogaia-info h5 a{

    color: black;
    transition: all 0.5s;
}
.timer-data img{


    border-radius: 50%;
    width: 30px;
}
.timer-data span{

color: black;
transition: all 0.5s;

}
.timer-data span:hover{

    color: #0078FF;

}
.w-65{

    width: 65%;
}
/* ***************CONTACT US************** */
#contact{


    background-image: url(../photos/overlay-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
   box-shadow:  0 13px 8px -10px rgb(0 0 0 / 10%);

}


.blue-ray-contact{


    
        height: 100%;
            background-color: #0077ffc2;
}

#contact .hr-contact{
height: 4px;
width: 18%;
background-color: #0078FF;
position: absolute;
top: 90%;
left: 15px;

}

#contact .contact-title{

position: relative;



}



#contact .form {
    width: 100%;
    padding: 10px 30px;
    /* margin: auto; */

}

#contact .include {
 
    padding: 15px;
    

}

#contact input,
textarea {

    padding: 10px 5px;
    border-radius: 1px;
    border: rgba(128, 128, 128, 0.395) 1px solid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
}

#contact input:focus {
    outline: none;
    border: 1px solid rgba(21, 4, 148, 0.405);
}

#contact textarea:focus {
    outline: none;
    border: 1px solid rgba(21, 4, 148, 0.405);
}


#contact .comment {

    width: 100%;
    padding: 15px;
}

#contact input,
textarea {
    width: 100%;

}

#contact form a {
    text-decoration: none;
    font-size: 18px;
    width: 180px;
    text-align: center;
    height: 55px;
    background-color:#0078FF;
    padding: 15px;
    margin: 20px 0 3px 15px;
    border: transparent;
    border-radius: 30px;
    color: white;
    transition: all 0.5s;

}

#contact form .submit {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#contact form a:hover {

    box-shadow: 0px 0px 0px 4px #abcaec;
   
    background-color:#3393FF;
}

#contact p{

color: black;
font-weight: lighter;

}

#contact ul i{

color: #0078FF;

}

.social a{

    text-decoration: none;
}
.social i{

color: black;
padding: 10px 11px;
margin: 5px;
font-size: 20px;
border: solid 4px #0078FF;
border-radius: 50%;
transition: all 0.4s;

}

.social i:hover{

    border: solid 4px #58a4fb;
    background-color: #0078FF;
    color: white;

}

/* ********************FOOTER**************************** */
.blue-bg{

background-color: #0062D3;

}

#footer , #footer a{


color: white;

}

